/*---------------------------Brand Colours--*/
:root {
    --green: rgb(137,200,46);
    --grey: rgb(60,60,59);
    --pink: rgb(231,0,100);

    --dn-green: rgb(138, 189, 36);
    --dn-pink: rgb(233, 22, 140);

    --ph-grey: rgb(207, 207, 207);
}

/*---------------------------Basic Styling--*/
html {
    height: 100%;
    margin: 0;
}
body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: var(--grey);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

::placeholder { 
    color: var(--ph-grey);
    opacity: 1; 
}

:-ms-input-placeholder { 
color: var(--ph-grey);
}

::-ms-input-placeholder {
color: var(--ph-grey);
}
  
/*---------------------------Form--*/
.dn-form {
    display: inline-block;
    padding: 35px 25px 0px 25px;
    background-color: var(--green);
    border: 5px solid var(--grey);
    border-radius: 30px;
}

.dn-form label {
    padding-right: 10px;
    font-weight: 500;
}

.dn-form_input {
    border: none;
    padding: 5px;
    width: 210px;
    background-color: white;
}

.feedback {
    text-align: left;
    color: var(--dn-pink)
}

.submit-btn {
    background-color: var(--pink);
    margin: 0 auto;
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 3px 15px;
    width: auto;
    margin-bottom: 5px;
}